<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./logs/logback.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <prudent>true</prudent>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="numbers.Rational" level="error" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="RationalInfo" level="info" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="App" level="info" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>
</configuration>